<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/headerDeslogueado') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="" method="POST">
					<div class="form-group">
					  <input type="email" class="form-control" id="username" placeholder="Email" name="email">
					</div>
					<div class="form-group">
					  <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="pswd">
					</div>
					<button type="submit" class="btn btn-primary" href="/profile">Iniciar sesion</button>
					<br>
					<br>
					<p>¿No tenés una cuenta? <a href="/register">Registrate acá</a> </p>
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>