<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/header') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="" method="POST">
					<div class="form-group">
					  <input type="text" class="form-control" id="titulo" placeholder="Titulo" name="titulo">
					  <input type="image" class="form-control" id="image" placeholder="Imagen" name="imagen">
					  <input type="text" class="form-control" id="descripcion" placeholder="Descripción" name="descripcion">
					</div>
					<button type="submit" class="btn btn-primary" href="/">Agregar producto</button>
					
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>