<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/header') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/profile" method="POST"  enctype='multipart/form-data' class="row g-3 align-items-center">
					<div class="form-group col-12">
						<p>Titulo</p>
						
					  	<input type="text" class="form-control col-12 p-4" placeholder="Titulo" name="name">
						  	<input name='subirFoto' type="file">
							
						<p>Agregar Descripción</p>
					  		<input type="text" class="form-control col-12 p-4" placeholder="Descripción" name="descripcionLarga">
							<input type="submit" class="btn btn-primary" value="Register">
					</div>
					
					
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>