<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/header') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- editar producto -->
			<h2 class="col-12">
				<form action="/product-edit" method="POST"  enctype='multipart/form-data' class="row g-3 align-items-center">
					<div class="form-group col-12">
						<p>Nuevo nombre</p>
							<input type="text" name="id" value="<%= productos.id %>">
					  		<input type="text" class="form-control col-12 p-4" placeholder="Titulo Nuevo" name="name">
							  <p>Nueva descripción</p>
					  		<input type="text" class="form-control col-12 p-4" placeholder="Descripción Nueva" name="descripcionLarga">
							  <p>Subir nueva imagen</p>
								  <input name='url' type="file">
								  <br>
								  <br>
							<input type="submit" class="btn btn-primary" value="Guardar Edición">
					</div>
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>