<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/header') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="" method="POST" class="row g-3 align-items-center">
					<div class="form-group col-12">
						<p>Nombre</p>
					  <input type="name" class="form-control col-12 p-4" id="username" placeholder="Nombre" name="name" >
					</div>
					<div class="form-group col-12">
						<p>Email</p>
					  <input type="email" class="form-control col-12 p-4" id="username" placeholder="Email" name="email" >
					</div>
					<div class="form-group col-12">
						<p>Contraseña</p>
					  <input type="password" class="form-control col-12 p-4" id="pwd" placeholder="Contraseña" name="pswd">
					</div>
					<div class="pl-4">
						<button  class="btn btn-primary" href="/profile" role="button">Guardar cambios</button>
						</div>
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>