<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/header') %>

<body>
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Editar nombre usuario -->
			<h2 class="col-12">
				<form action="/profile-edit" method="POST" enctype='multipart/form-data' class="row g-3 align-items-center">
					<div class="form-group col-12">
						<p>Nombre</p>
						<input type="hidden" name="id" value="<%= idUsuario %>">
					  	<input type="name" class="form-control col-12 p-4" id="username" placeholder="Nombre" name="name" required>
						  <p>Fecha de nacimiento</p>
						  <input type="date" class="form-control col-12 p-4" id="" placeholder="Fecha de nacimiento" name="date" required>
						  <p>Email</p>
						  <input type="email" class="form-control col-12 p-4" id="" placeholder="Email" name="email" required>
						  <p>Imagen</p>
						  <input name='url' type="file" required>
						  <p>Nueva Contraseña</p>
						  <input type="password" class="form-control col-12 p-4" id="" placeholder="Contraseña" name="pass" required>
						  <br>
						  <br>
						  <input type="submit" value="Guardar Cambios" class="btn btn-primary">
						</div>
			
			</form>
			</h2>
		</div>
	</div>		
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>