<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/headerDeslogueado') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="" method="POST" class="row g-3 align-items-center">
					<div class="form-group col-12">
					  <p>Nombre</p>
					  <input type="text" class="form-control col-12 p-4" id="" placeholder="Nombre" name="name">
					  <p>Email</p>
					  <input type="email" class="form-control col-12 p-4" id="" placeholder="Email" name="email">
					  <p>Contraseña</p>
					  <input type="password" class="form-control col-12 p-4" id="" placeholder="Contraseña" name="pass">
					  <input type="submit" class="btn btn-primary" value="Register">
					</div>
					<br>
					<br>
					<p class="pl-4">¿Ya tenés una cuenta? <a href="/login">Ingresá acá</a> </p>
					
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>