<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/headerDeslogueado') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> Estamos trabajando para brindar el mejor servicio posible
			</h2>
			<img src="/images/maintenance.png" alt="">

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>